{% extends 'base.html.twig' %}

{% block title %}connexion{% endblock %}

{% block body %}
<form action="{{ path('app_login') }}" method="post" name="login">

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}

		{% if error %}
			<div class="alert alert-danger mt-4">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}


              <h2 class="fw-bold mb-5 text-uppercase">Connecte toi ma caille </h2>
              <p class="text-white-50 mb-3">A l'aide de ton clavier entre ton email et ton mot de passe</p>

              <div class="form-outline form-white mb-4">
                <input type="email" id="username" name="_username" class="form-control form-control-lg" placeholder="email" value="{{ last_username }}" />
                                 
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="password" name="_password" class="form-control form-control-lg"placeholder="mot de passe" />

              </div>

              <p class="small mb-4 pb-lg-2"><a class="text-white-50" href="#!">Tu as oublié ton mot de passe tête de linotte ?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Connexion</button>

              

            </div>

            <div>
              <p class="mb-0">Tu veux faire partie de la bande ? <a href="#!" class="text-white-50 fw-bold">Incris toi</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
{% endblock %}
